*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.subtitulo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h3{
    justify-content: space-evenly;
    width: 50vw;
}

.foto{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#auditoria {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 40vh;
}

#pf{
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 40vh;
}

.parag{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

p{
    width: 50vw;
}

