* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0; 
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #1C2C4E;
    height: 70px;
    width: 100%;
}

header h1 {
  margin-bottom: 5px;
}

header p {
  margin-left: 5px;
} 

.noticia {
  border-radius: 13px;
  background-color: rgb(127, 127, 127);
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 30px;  
}

.noticia h2 {
  margin-bottom: 10px;
}

.noticia .data {
  margin-bottom: 15px;
} 

.conteudo {
  display: flex;
  gap: 10px;
}

.conteudo p {
  text-align: justify;
} 

.foto {
    border-radius: 10px;
    height: 160px;
    width: 40%;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
}


#img1 { background-image: url('../img/not1.png'); }
#img2 { background-image: url('../img/not2.png'); }
#img3 { background-image: url('../img/not3.png'); }
#img4 { background-image: url('../img/not4.png'); }

