@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Montserrat;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}



header {
    background-color: #1C2C4E ;
    height: 120px;
    width: 100%;
    color: rgb(229, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    z-index: 2;
    font-size: 20px;

    font-family:Montserrat Alternates;

}


.title{
    font-size: 53px;
    color: rgb(255, 255, 255);
}

.link-head{
    margin: 150px;
}

.logo{
    margin: 15px;
    padding: 0;
    left: 0;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}


form {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: 9rem;
}


form div {
    margin-bottom: 15px;
}


label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #1C2C4E;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box; 
    transition: border-color 0.2s, box-shadow 0.2s;
}


input[type="text"]:focus,input[type="email"]:focus,textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}


input[type="submit"] {
    width: 100%;
    padding: 0.9rem;
    background-color:#ffb700 ;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}


input[type="submit"]:hover {

    opacity: 50%;
}