@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    overflow-x: hidden;
}

header {
    background-color: #1C2C4E;
    color: #fff;
    padding: 10px 20px;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #80cbc4;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.header-container img {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.header-container ul {
    display: flex;
    gap: 20px;
}

/* Conteúdo principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
}

main article {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main article h1 {
    font-size: 1.8rem;
    color: #004d40;
    margin-bottom: 10px;
}

main article p {
    margin-bottom: 15px;
}

main article img {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 8px;
}

/* Rodapé */
footer {
    text-align: center;
    background-color: #1C2C4E;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    font-size: 0.9rem;
}

